:root[data-theme="light"] {
    --black: black;
    --gray1: rgba(156, 156, 156, 1);
    --white: white;

    --blue1: #bde4fb;
    --blue2: #75c4f8;
    --blue3: rgb(0, 92, 224);
    --blue4: #1875b3;
    --blue5: #3F9BED;

    --background-white: #f7fafc;

    --green: rgb(0, 189, 60);
    --red: rgb(255, 0, 0);  
}

:root[data-theme="dark"] {
    --black: #f0f8fe;
    --gray1: rgba(156, 156, 156, 1);
    --white: #204578;

    --blue1: #234c85;
    --blue2: #234c85;
    --blue3: rgb(0, 92, 224);
    --blue4: #68bbf2;
    --blue5: #1E62C0;

    --background-white: #111f35;
    
    --green: rgb(0, 189, 60);
    --red: rgb(255, 0, 0);
}

* {
    scroll-behavior: smooth;
}

button {
    border: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background-white);
    font-family: Raleway, 'sans-serif';
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

#nav-bar {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#nav-bar a {
    text-decoration: none;
    color: var(--black);
    letter-spacing: 3px;
    transition: all 0.3s ease;
    font-size: 14px;
}

#nav-bar a:hover {
    text-shadow: 0px 0px 10px var(--black);
}

#nav-bar a:first-child {
    color: var(--blue4);
    font-size: 20px;
}

#div-nav {
    height: 70%;
    width: 1px;
    background-color: var(--blue4);
    margin-right: 50px;
}

#theme-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    opacity: 0.8;
    border: 0;
    border-radius: 50px;
    font-family: Raleway, 'sans-serif';
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    transition: all 0.4s ease;
    padding: 20px;
    background: transparent;
    color: var(--black);
}

#theme-button:hover {
    color: var(--white);
} 

#counter-container {
    margin: 120px 0;
    background-color: var(--background-white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    padding: 100px;
    box-shadow: inset 0px 0px 39px 0px var(--blue1);
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 150px;
    max-height: 150px;
    gap: 30px;
    border: 10px solid var(--blue2);
    transition: all 0.4s ease;
}

#timer {
    font-size: 80px;
    margin-top: 30px;
    user-select: none;
    transition: all 0.4s ease;
    text-shadow: 4px 10px 11px rgba(0, 0, 0, 0.25);
}

#next-timer {
    font-size: 30px;
    opacity: 0.8;
    user-select: none;
    transition: all 0.4s ease;
    text-shadow: 4px 10px 11px rgba(0, 0, 0, 0.25);
}

@media (max-width: 700px) {
    #timer {
        font-size: 65px;
    }

    #next-timer {
        font-size: 24px;
    }
}

#container-btns {
    display: flex;  
    width: 60vw;
    height: 8vw;
    border-radius: 50px;
}

@media (min-width: 600px) {
    #container-btns {
        height: 50px;
    }
}

.btn-count {
    flex: 1 1 0;
    cursor: pointer;
    font-family: Raleway, 'sans-serif';
    font-size: 18px;
    font-weight: bolder;
    background-color: var(--blue1);
    border: 0;
    user-select: none;
    transition: all 0.4s ease;
    color: var(--black);
}

@media (max-width: 600px) {
    .btn-count {
        font-size: 14px;
    }
}

.btn-count:hover {
    background-color: var(--blue4);
    box-shadow: 2px 2px 8px #03314d;
    color: var(--white);    
    cursor: pointer;
}

#pausa-start {
    border-radius: 50px 0px 0px 50px;
}

#skip {
    border-radius: 0px 50px 50px 0px;
}

#pausa-start:active {
    background-color: var(--green);
    color: var(--white);    
}

#reset:active {
    background-color: var(--red);
    color: var(--white);    
}

#skip:active {
    background-color: var(--blue3);
    color: var(--white);    
}

/*Here begins the todolist style*/

#todolist-container {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    background-color: var(--blue2);
    width: 50vw;
    padding: 40px;
    border-radius: 15px;
    transition: all 0.3s ease;
    font-weight: 700;
    scroll-margin-top: 100px;
}

#header-todolist {
    font-family: Raleway, 'sans-serif';
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--black);
}

#container-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-goal div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

#input-goal {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    outline: none;
    font-size: 1rem;
    font-family: Raleway, 'sans-serif';
    flex: 10;
    transition: all 0.2s ease-out;
    font-weight: 700;
}

#input-goal:focus {
    border: 2px solid var(--blue3);
}

#add-goal {
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 20px;
    flex: 1;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 0;
    color: var(--black);
}

#add-goal:hover {
    opacity: 0.8;
    background-color: var(--blue4);
    color: var(--white);
}

#add-goal:active {
    transform: scale(0.9);
}


/* Error */

.error {
    display: none;
    padding: 10px 40px;
    margin: 30px 0px 0px 0px;
    border-radius: 25px;
    background-color: var(--red);
    color: var(--background-white);
    transition: all 0.3s ease;
}

/* start the list of the goals*/


#todolist {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    font-size: 1rem;
    gap: 10px;
}

.goal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--white);
}

.goal-item p {
    margin: 0px 10px;
    flex: 10;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    color: var(--black);
}

.buttons-goal {
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    background: transparent;
    color: var(--black);
}

/* arreglar selector para que cambie el span cuando hace check */
input[type='checkbox'] {
    display: none;
}

.complete-goal span {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 2em;
    background-color: white;
    border-radius: 100%;
    transition: all 0.4s;
    border: 1px solid var(--gray1);
}

.complete-goal {
    font-size: 10px;
    cursor: pointer;
    display: flex;
}

.complete-goal input:checked ~ span {
    border: 1px solid var(--green);
    background: var(--green);
}

.complete-goal input:checked ~ span:after {
    opacity: 1;
}

.complete-goal span:after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 0.3em 0.3em 0;
    transform: rotate(45deg);
    width: 0.5em;
    height: 1em;
    left: 0.6em;
    top: 0.25em;
    opacity: 0;
    transition: 0.2s ease;
}

.goal-item div {
    flex: 1;
}

.edit-goal:hover {
    color: var(--blue3);
}

.delete-goal:hover {
    color: var(--red);
}

.edit-goal:active {
    opacity: 0.8;
    transform: scale(0.9);
}

.delete-goal:active {
    opacity: 0.8;
    transform: scale(0.9);
}



#counter-goals {
    font-family: Raleway, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 50px;
    color: var(--black);
}

#counter-goals span {
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--green);
}

/* Info section */

#info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(/styles/img/wave.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: var(--black);
}

.container-cards {
    display: grid;
    width: 60vw;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 0px;
}

.card {
    backdrop-filter: blur(11px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(117, 196, 248, 0.6);
    border-radius: 20px;
    padding: 20px;
    text-wrap: balance;
}

.container-cards .card:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/3;
}

.container-cards .card:nth-child(2) {
    grid-column: 5/8;
    grid-row: 1/3;
    background-color: rgba(63, 155, 237, 0.6);
}

.container-cards .card:nth-child(3) {
    grid-column: 1/4;
    grid-row: 3/5;
    background-color: rgba(63, 155, 237, 0.6);
}

.container-cards .card:nth-child(4) {
    grid-column: 4/8;
    grid-row: 3/5;
}

#ia-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px 0px 200px 0px;
    background-color: var(--blue5);
}

.container-ia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
}

.ia-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(11px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: var(--blue1);
    font-size: 1.2rem;
    padding: 50px 20px 30px 20px;
    border-radius: 20px;
    color: var(--black);
    max-width: 400px;
    opacity: 0.7;
    margin-bottom: 40px;
}

.ia-info h3 {
    font-size: 32px;
}

.ia-info span {
    color: var(--blue4);
    font-size: 40px;
}

.ia-info p {
    margin: 0;
    text-wrap: pretty;
}

.tap {
    text-align: center;
    background-color: var(--blue2);
    width: 100px;
    height: auto;
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px 20px 0px 0px;
    align-self: flex-end;
}

#container-details {
    color: var(--black);
    padding: 30px;
    border-radius: 10px 0px 10px 10px;
    background: var(--blue2);
}

details {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    border-radius: 15px;
    font-weight: 700;
    text-wrap: pretty;
}

/* media querys */

@media (max-width: 800px) {
    #container-btns {
        border-radius: 34px;
        height: 100px;
        flex-direction: column;
    }

    #pausa-start {
        border-radius: 50px 50px 0px 0px;
    }
    
    #skip {
        border-radius: 0px 0px 50px 50px;
    }

    .goal-item div {
        flex-direction: column;
    }

    .buttons-goal {
        font-size: 1rem;
    }

    #todolist-container {
        margin: 40px auto;
        padding: 20px;
        width: 80vw;
    }

    .container-cards {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .card {
        width: 80%;
    }
}